.center {
    border: 1px solid;
    margin: auto;
    width: 20%;
    padding: 10px;
  }

  a:link {
    background: none;
    color: #363636;
    font-size: 14px;
    text-decoration: none
  }
  a:active {
    background: none;
    color: #363636;
    font-size: 14px; 
    text-decoration: none
  }
  A:hover {
  background: lightgreen;
  color: black;
  font-size: 14px;
  text-decoration: none}
  
